# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [ ]:
# Can you elaborate on what you did for irregular data? 
# Help me understand why you chose to use .describe and what you found / didn't find.
# Same thing with inconsistent data. 
# What were you looking for with the value counts and what did you find/not find? 
# The more descriptive you can be, the more it shows you have a sound understanding 
# of what you're doing and why you're doing it for future employers to see 
# when reviewing this project as a demonstration of your skills from class.

In [1]:
#import libraries as alias
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


#import data
dogs_df = pd.read_csv("dog_breedscopy.csv")



#check that data was properly imported
print(dogs_df.info())
dogs_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  97 non-null     object
 1   min_life_expectancy   97 non-null     int64
 2   max_life_expectancy   97 non-null     int64
 3   max_height_male       97 non-null     float64
 4   max_height_female     97 non-null     float64
 5   max_weight_male       97 non-null     float64
 6   max_weight_female     97 non-null     float64
 7   min_height_male       97 non-null     float64
 8   min_height_female     97 non-null     float64
 9   min_weight_male       97 non-null     float64
 10  min_weight_female     97 non-null     float64
 11  good_with_children    97 non-null     int64
 12  good_with_other_dogs  97 non-null     int64
 13  shedding              97 non-null     int64
 14  grooming              97 non-null     int64
 15  drooling              97 non-null     int64
 16  coat_length           97 non-null     int64
 17  good_with_strangers   97 non-null     int64
 18  playfulness           97 non-null     int64
 19  protectiveness        97 non-null     int64
 20  trainability          97 non-null     int64
 21  energy                97 non-null     int64
 22  barking               97 non-null     int64
dtypes: float64(8), int64(14), object(1)
memory usage: 17.6+ KB
None

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,...,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking
0,Golden Retriever,10,12,24.0,24.0,75.0,65.0,23.0,23.0,65.0,...,4,2,2,1,5,4,3,5,3,1
1,Dachshund,12,16,9.0,9.0,32.0,32.0,8.0,8.0,16.0,...,2,2,2,2,4,4,4,4,3,5
2,Labrador Retriever,10,12,24.5,24.5,80.0,70.0,22.5,22.5,65.0,...,4,2,2,1,5,5,3,5,5,3
3,Great Dane,7,10,32.0,32.0,175.0,140.0,30.0,30.0,140.0,...,3,1,4,1,3,4,5,3,4,3
4,Boxer,10,12,25.0,25.0,80.0,65.0,23.0,23.0,65.0,...,2,2,3,1,4,4,4,4,4,3

In [4]:
dogs_df.shape

(97, 23)

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [5]:
dogs_df.isnull()

#check to see if any values return as null

,Name,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,...,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
93,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [6]:
dogs_df.isna().sum()

#check to see how many missing values there are --- there are none

Name                    0
min_life_expectancy     0
max_life_expectancy     0
max_height_male         0
max_height_female       0
max_weight_male         0
max_weight_female       0
min_height_male         0
min_height_female       0
min_weight_male         0
min_weight_female       0
good_with_children      0
good_with_other_dogs    0
shedding                0
grooming                0
drooling                0
coat_length             0
good_with_strangers     0
playfulness             0
protectiveness          0
trainability            0
energy                  0
barking                 0
dtype: int64

In [11]:
dogs_df_missing_data = dogs_df.isna().mean() * 100
dogs_df_missing_data

Name                    0.0
min_life_expectancy     0.0
max_life_expectancy     0.0
max_height_male         0.0
max_height_female       0.0
max_weight_male         0.0
max_weight_female       0.0
min_height_male         0.0
min_height_female       0.0
min_weight_male         0.0
min_weight_female       0.0
good_with_children      0.0
good_with_other_dogs    0.0
shedding                0.0
grooming                0.0
drooling                0.0
coat_length             0.0
good_with_strangers     0.0
playfulness             0.0
protectiveness          0.0
trainability            0.0
energy                  0.0
barking                 0.0
dtype: float64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [3]:
#use describe to break down each category in the form of a summary to detect outliers

dogs_df.describe()

,min_life_expectancy,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,...,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,trainability,energy,barking
count,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,...,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000,97.000000
mean,11.360825,14.000000,20.561856,20.427835,60.890722,54.292784,18.164948,18.061856,46.024742,40.076289,...,2.587629,2.154639,1.618557,1.020619,3.402062,3.608247,3.659794,3.804124,3.680412,2.958763
std,1.653189,1.870829,6.949692,6.836251,43.281424,36.473518,6.747963,6.656473,34.927431,28.510622,...,0.921418,1.034209,0.983651,0.203069,1.114860,0.984851,1.162671,0.975098,0.907680,1.257623
min,7.000000,9.000000,7.000000,7.000000,6.000000,6.000000,5.000000,5.000000,3.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,13.000000,15.000000,15.000000,23.000000,22.000000,12.000000,12.000000,15.000000,15.000000,...,2.000000,1.000000,1.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000
50%,12.000000,14.000000,22.000000,22.000000,60.000000,55.000000,19.000000,19.000000,40.000000,35.000000,...,3.000000,2.000000,1.000000,1.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000
75%,12.000000,15.000000,27.000000,27.000000,85.000000,71.000000,24.000000,24.000000,65.000000,57.000000,...,3.000000,3.000000,2.000000,1.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000
max,15.000000,19.000000,33.000000,32.000000,200.000000,200.000000,30.000000,30.000000,150.000000,150.000000,...,5.000000,5.000000,5.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [2]:
#Check what types of values are present in this dataset
dogs_df.dtypes

Name                     object
min_life_expectancy       int64
max_life_expectancy       int64
max_height_male         float64
max_height_female       float64
max_weight_male         float64
max_weight_female       float64
min_height_male         float64
min_height_female       float64
min_weight_male         float64
min_weight_female       float64
good_with_children        int64
good_with_other_dogs      int64
shedding                  int64
grooming                  int64
drooling                  int64
coat_length               int64
good_with_strangers       int64
playfulness               int64
protectiveness            int64
trainability              int64
energy                    int64
barking                   int64
dtype: object

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
#all of the columns contain information necessary for a family to use in order to find the dog they need

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [5]:
#check for the breakdown of each column 
#values should range from 0-5 for category ratings, but can be up to 100 for those that are about weight
dogs_df.value_counts()

Name                                min_life_expectancy  max_life_expectancy  max_height_male  max_height_female  max_weight_male  max_weight_female  min_height_male  min_height_female  min_weight_male  min_weight_female  good_with_children  good_with_other_dogs  shedding  grooming  drooling  coat_length  good_with_strangers  playfulness  protectiveness  trainability  energy  barking
Afghan Hound                        12                   18                   27.0             27.0               60.0             60.0               25.0             25.0               50.0             50.0               3                   3                     1         4         1         1            3                    3            3               1             4       3          1
Giant Schnauzer                     12                   15                   27.5             27.5               85.0             75.0               25.5             25.5               60.0             55.0               3                   3                     3         4         2         1            3                    4            5               5             5       3          1
Papillon                            14                   16                   11.0             11.0               10.0             10.0               8.0              8.0                5.0              5.0                5                   3                     3         2         1         1            5                    5            4               5             4       5          1
Otterhound                          10                   13                   27.0             27.0               115.0            80.0               27.0             27.0               115.0            80.0               3                   3                     2         2         3         1            4                    3            3               4             3       5          1
Nova Scotia Duck Tolling Retriever  12                   14                   21.0             21.0               50.0             50.0               18.0             18.0               35.0             35.0               5                   4                     3         2         2         1            3                    5            3               5             5       2          1
                                                                                                                                                                                                                                                                                                                                                                                                     ..
Bracco Italiano                     10                   14                   27.0             27.0               90.0             90.0               21.0             21.0               55.0             55.0               4                   4                     2         1         2         1            3                    3            3               5             4       2          1
Boxer                               10                   12                   25.0             25.0               80.0             65.0               23.0             23.0               65.0             50.0               5                   3                     2         2         3         1            4                    4            4               4             4       3          1
Boston Terrier                      11                   13                   17.0             17.0               25.0             25.0               15.0             15.0               12.0             12.0               5                   4                     2         2         1         1            5                    5            3               4             4       2          1
Borzoi                              9                    14                   33.0             31.0               105.0            85.0               30.0             27.0               75.0             60.0               3                   3                     3         2         1         1            3                    3            3               2             4       2          1
Yorkshire Terrier                   11                   15                   8.0              8.0                7.0              7.0                7.0              7.0                7.0              7.0                5                   3                     1         5         1         1            5                    4            5               4             4       4          1
Length: 97, dtype: int64

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
I did not.

2. Did the process of cleaning your data give you new insights into your dataset?
It told me that this dataset is very user-friendly and clean!

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
Since it is already a very clean dataset, it is actually quite small. I would like to use aggregations for visualizations.